In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random as rd

In [15]:
df1=pd.read_csv("heart.csv")

In [16]:
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [17]:
print(df1.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   52    1   0       125   212    0        1      168      0      1.0      2
1   53    1   0       140   203    1        0      155      1      3.1      0
2   70    1   0       145   174    0        1      125      1      2.6      0
3   61    1   0       148   203    0        1      161      0      0.0      2
4   62    0   0       138   294    1        1      106      0      1.9      1

   ca  thal  target
0   2     3       0
1   0     3       0
2   0     3       0
3   1     3       0
4   3     2       0

In [18]:
df1.fillna(df1.mode().iloc[0], inplace=True)

In [19]:
df1.drop_duplicates(inplace=True)
print("Data Cleaning Done")

Data Cleaning Done

In [21]:
# Checking unique values in categorical columns
print("\nUnique values in 'sex':", df1['sex'].unique())
print("Unique values in 'cp':", df1['cp'].unique())

# Ensuring valid data for these columns
df1 = df1[df1['sex'].isin([0, 1])]
df1 = df1[df1['ca'].isin([0, 1, 2, 3])]

# Rename target column if needed
if 'target' in df1.columns:
    df1.rename(columns={'target': 'HeartDisease'}, inplace=True)

Unique values in 'sex': [1 0]
Unique values in 'cp': [0 1 2 3]

In [22]:
print("\nColumns in dataset:", df1.columns.tolist())
print("\nFinal Data Shape (after cleaning & corrections):", df1.shape)

Columns in dataset: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'HeartDisease']

Final Data Shape (after cleaning & corrections): (298, 14)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [24]:
# Feature and target split
X = df1.drop('HeartDisease', axis=1)
y = df1['HeartDisease']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Scaling the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Model Training
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# Predictions and Evaluation
y_pred = model.predict(X_test_scaled)

print("\nModel Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Model Accuracy: 0.8533333333333334

Confusion Matrix:
 [[25  8]
 [ 3 39]]

Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.76      0.82        33
           1       0.83      0.93      0.88        42

    accuracy                           0.85        75
   macro avg       0.86      0.84      0.85        75
weighted avg       0.86      0.85      0.85        75